<!DOCTYPE html>
<html>
<head>
  <title>KomachiAliveMonitoring</title>
  <%= stylesheet_link_tag    "komachi_alive_monitoring/application", :media => "all" %>
  <%= javascript_include_tag "komachi_alive_monitoring/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
